{% extends 'base.html' %}

{% block title %}Книги{% endblock %}

{% block content %}

{% if all_author_list %}
<style>
table {width: 100%; text-align: center; border-radius: 6px; border-collapse: separate; border-spacing: 0px;}
table thead tr {color: #ffffff; font-weight: bold; background: #c83240;}
table tr td {border-right: 1px solid #dfdfdf;}
table tr td:last-child {border-right: 0px;}
table tbody tr:nth-child(1n) {background: #FFFAF0;}
table tbody tr:hover {background: #ffe8e8; transition-duration: 0.6s;}
</style>
<table border="1" >
	<thead>

	</thead>
	<tr>
	<td>Авторы</td>
	<td>Книги</td>
	</tr> 
	<tbody>

		{% for a in all_author_list %}
		<tr><td>{{a.author_name}}</td><td>
													 	{{a.book_title}}
														</td></tr>

		{% endfor %}
		</tbody>>
		</table>

	{% else %}
		Статьи не найдены
	{% endif %}
	{% endblock %}
